/* Mobile view */
@media (max-width: 774px) {
    /* ================= MEMBERSHIP CARDS ================= */
    /* Add CSS styling and animation here for the membership cards */

    /* Style */

    .wrapper {
        background-color: bisque;
        border: 1px solid black;
        border-radius: 5px;
        margin: 20px;
        /* display: grid;
       
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

        display: flex;
        flex-direction: column;
    }





    .sidebars {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;

    }



}


/* Mobile view*/
@media (max-width: 1060px) {


    .membership-cards {
        align-content: center;
        align-items: center;
        background-color: var(--light-silver);
        border-radius: 4px;
        display: flex;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        flex-direction: column;
        align-self: self-start;
        gap: 10px;
        /* margin: 50px; */
        margin-top: 30px;
        height: auto;
        /* right: 50px; */

        width: 100%;
        max-width: 100vw;


    }



    .membership-cards h3 {
        color: var(--accent1-color);
        font-family: var(--paragraph-font);
        font-size: 2rem;


    }


    .membership-btns {

        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        height: 44px;
        font-family: var(--default-font);

        width: 80%;

    }

    .membership-btns:hover {
        background-color: var(--accent1-color);
        border-radius: 5px;
        border: 1px solid var(--accent1-color);
        color: #fff;
        height: 44px;
        font-family: var(--default-font);
        transition: background-color 0.1s ease-in;
        width: 80%;
    }

    /* Membership levels */

    .non-profit {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid var(--accent1-color);
        border-radius: 8px;
        height: 150px;
        /* grid-column: 1; */
        justify-content: center;
        margin: 0 auto;
        width: 90%;


    }

    .bronze {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        border: 3px solid var(--light-bronze);
        border-radius: 8px;
        height: 150px;
        justify-content: center;
        margin: 0 auto;
        width: 90%;


    }

    .silver {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        border: 3px solid var(--light-silver);
        border-radius: 8px;
        height: 150px;
        justify-content: center;
        margin: 0 auto;
        width: 90%;
    }

    .gold {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        border: 3px solid var(--light-gold);
        border-radius: 8px;
        height: 150px;
        justify-content: center;
        margin: 0 auto;
        width: 90%;
    }

    .join-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        width: 100%;
    }

    .join-form {
        max-width: 100vw;
        width: 100%;
    }


    h2 {
        margin: 0;
    }

    /* Start image animation here*/
    .img-discover {
        width: 100%;
        aspect-ratio: 1 / 1;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    /* Add pulsating effect for image, as if it is loading on slower networks (e.g., 3G, Slow 4G or Fast 4G */

    .blurry::before {

        content: "";
        position: absolute;
        inset: 0;
        /* set all sides to 0 */
        animation: pulse 2.5s infinite;


    }

    /* When image is already loaded, then remove the white pulsating background caused by animation above*/

    .blurry.loaded::before {
        content: none;

    }

    @keyframes pulse {
        0% {

            background-color: rgba(255, 255, 255, 0);
        }

        50% {
            background-color: rgba(255, 255, 255, 0.1);
        }

        100% {
            background-color: rgba(255, 255, 255, 0);
        }

    }

    .blurry {
        position: relative;
        background-size: cover;
        background-position: center;

    }

    .blurry.loaded>img {
        opacity: 1;
    }

    /* Set all images to opacity 0 so it doesn't show the image yet */
    .blurry>img {
        opacity: 0;

        transition: opacity 200ms ease-in-out;
    }


    /* End of image animation, a.k.a lazy loading */

    #weather-icon {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    #city-image {
        width: 90%;
        height: auto;
    }

    .weatherdata-container {
        margin: 0 auto;
        max-width: 100vw;
        width: 100%;
        height: auto;
    }

    .membership-cards h2 {
        color: var(--accent1-color);
        font-family: var(--default-font);
        font-size: 2rem;
        /* grid-column: 1 / span 2; */
        text-align: center;
    }

    .membership-cards h3 {
        color: #000;
        font-family: var(--paragraph-font);
        font-size: 2rem;


    }



    /* ================= MODAL ================= */

    .modal {
        width: 250px;
    }

    .modal-content h2 {
        font-size: 2rem;
    }

    .modal-content ul {
        font-size: 0.9rem;
    }

    /* ================= HEADER ================= */

    .hero {
        padding-bottom: 4rem;
    }

    .hero img {
        max-width: 100vw;
        height: auto;

    }

    #icc {
        /* display: block; */

        margin: 5px auto;
    }


    h1 {
        font-size: 2.5rem;
    }



    #menu {

        background: none;
        border: none;
        color: var(--base-color);
        cursor: pointer;
        display: block;
        font-size: 2rem;
        font-family: var(--default-font);
        padding: .2rem 2vw;
        position: absolute;
        right: 30px;
        top: 8px;
        /* width: 100%; */
        text-align: right;

    }


    #menu::before {
        /* content: "☰"; */
        content: '\2630'
            /* When menu is closed, display the hamburger icon */

    }

    #menu.open::before {
        content: "X";
        /* When menus is opened, display the 'X' button to close the menu */

    }

    .menuLinks {
        display: none;
    }

    .menuLinks.open {
        display: flex;
        flex-direction: column;
    }



    /* ================= CONTAINER ================= */

    div.container-discover {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        max-width: 100vw;
        width: 100%;

    }

    div.container {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        max-width: 100vw;
        width: 100%;



    }

    div.container a {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
    }

    div.container p {
        text-align: center;
        align-items: center;
        padding-top: 0;
    }



    .featured-members {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        width: 100%;


    }

    .featured-businesses {
        display: flex;
        flex-direction: column;
        max-width: 100vw;

        width: 100%;
        margin: 0 auto;


    }

    .join-wrapper {
        display: flex;
        flex-direction: column;
        /* display: grid; */
        /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
        margin: 0 auto;
        max-width: 100vw;
        width: 100%;
    }



    .join-form {
        max-width: 100vw;
        width: 100%;
    }


    main {
        align-content: center;
        align-items: center;
        background-color: var(--base-color);
        /* display: flex;
        flex-direction: column;
        flex: 1; */
        /* grid-column: 1 /span 2; */
        justify-content: center;
        /* margin: 20px; */
        padding: 0;
        /* margin: 0 auto; */
        max-width: 80vw;
        width: 100%;
    }

    .keyevent {

        /* keep keyevent width wide enough in mobile view */
        background-color: #1EA896;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100vw;
        margin: 2rem auto;

    }



    .cta-btn.open {
        display: block;
    }

    #business-img {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 5px;

        /* background-color: #1EA896; */
        align-content: center;


    }

    #dynamic-businesses {

        align-items: center;
        border-radius: 4px;
        font-family: var(--default-font);
        font-size: 0.9rem;
        justify-content: center;
        height: 2.5rem;
        margin-top: 2rem;
        margin: 0 auto;
        max-width: 50%;
        padding-right: 2rem;
        text-align: left;

    }

    span.business-labels {

        font-size: 0.8rem;
        margin: 0;
        padding: 0.7rem 0.1rem;

    }






    .nav-links-wrapper {
        align-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        max-width: 100vw;
        width: 100%;


    }

    .menuLinks {
        padding: 0 1.2rem;
        max-width: 100%;
    }

    .nav-links-wrapper,
    .menuLinks ul {
        display: flex;
        flex-direction: column;
    }


    nav.menuLinks {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-in-out;
    }

    nav.menuLinks ul {
        overflow: hidden;
    }


    nav.menuLinks.open {
        grid-template-rows: 1fr;
    }


    .nav-links-wrapper img {
        height: auto;
        width: 4rem;
        margin: 2rem auto;
    }



    div.businesses {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin: 0;
        max-width: 100vw;
        /* width: 100%; */
    }


    .subcontainer {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        /* width: 100%; */
    }

    /* .left-sidebar {
        width: 100vw;

    } */



    /* ================= FOOTER ================= */

    .left-footer {
        margin-top: 20px;
    }

    footer.bottom-details p,
    a {
        color: #fff;
        font-size: 0.8rem;
        padding: 0.2rem;
        /* margin: 5px; */
        max-width: 100vw;
        /* width: 100%; */
    }

    .bottom-details p {
        color: #fff;
        font-family: var(--default-font);

    }

    .bottom-details {

        display: flex;
        flex-direction: column;
        position: relative;
        gap: 2rem;
    }




    .horizontal {
        display: none;
    }
}

/* Mobile view 2 */

@media (max-width: 403px) {

    #chamber-meeting {
        /* This ensures that chamber meeting image is within it's own frame */
        max-width: 50vw;
        height: auto;
    }


    #city-image {
        width: 90%;
        height: auto;
    }

    .weatherdata-container {
        margin: 0 auto;
        max-width: 100vw;
        width: 100%;
        height: auto;
    }

    .modal-content h2 {
        color: var(--accent1-color);
        font-family: var(--default-font);
        font-size: 1.2rem;
        /* grid-column: 1 / span 2; */
        text-align: center;

    }


}

@media (max-width: 616px) {



    h1 {
        font-size: 1.5rem;
    }

    .discover-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        max-width: 100vw;
        width: 90%;
    }

    div.container-discover p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    div.container-discover h2 {
        font-size: 1.8rem;

    }


    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        margin: 20px;
        width: 100%;
    }

    figure h2 {
        font-size: 1.2rem;
    }

    figcaption {
        text-align: center;
        font-size: small;
        width: 100%;
    }


    figure img {
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
    }

    figcaption {
        text-align: center;
        font-size: 0.9rem;
        width: 100%;
    }


    figure img {
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
    }

    article {
        max-width: 90vw;
        width: 90%;
    }

    article p {
        font-family: var(--default-font);
        text-align: left;
    }

    main,
    .container {
        /* display: block; */
        margin: 0;
        padding: 0;
        max-width: 100vw;
        width: 100%;
    }


    fieldset {
        display: flex;
        align-items: self-start;
        max-width: 80vw;
        width: 80%;

    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 500px;
        max-width: 80vw;
        /* margin: 0 auto; */
    }

    /* 
    fieldset label {
        padding-left: 20px;
    } */






}

/* Mobile view 3 */

@media (max-width: 230px) {


    #dynamic-businesses {


        font-size: 0.8rem;
    }

    .nav-links-wrapper>img {
        width: 30px;
        height: 30px;
    }

    #icc {
        /* display: block; */

        margin: 5px auto;
    }

    hero {
        position: relative;
        display: inline-block;

    }

    .hero-img {
        display: block;
    }



    /* .left-sidebar {
        display: none;
    } */


    #menu {

        background: none;
        border: none;
        color: var(--base-color);
        cursor: pointer;
        display: block;
        font-size: 1rem;
        position: absolute;
        right: 30px;
        top: 8px;

    }

    nav.menuLinks li a {
        font-size: small;
    }


    /* .left-sidebar {
        display: none;
    } */


    #menu::before {
        /* content: "☰"; */
        content: '\2630';
        /* When menu is closed, display the hamburger icon */

    }

    #menu.open::before {
        content: "X";
        /* When menus is opened, display the 'X' button to close the menu */

    }

    /* .menuLinks {
        display: none;

    } */


    /* .menuLinks.open {
        display: flex;
        flex-direction: column;
    } */


    .hero {
        padding-top: 1.2rem;
    }

    div.businesses {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin: 0;
        max-width: 100vw;

    }





    div.container a {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        /* margin: 10px; */
    }

    div.container p {
        margin-bottom: 20px;
    }


    h1 {
        font-size: 1.3rem;
    }

    .nav-links-wrapper,
    .menuLinks ul {
        display: flex;
        flex-direction: column;
    }

    nav.menuLinks {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-in-out;
    }

    nav.menuLinks ul {
        overflow: hidden;
    }


    nav.menuLinks.open {
        grid-template-rows: 1fr;
    }


    /* aside.left-sidebar {
        display: none;
        padding-bottom: 30px;
    } */

    /* input[type="text"] {
        height: 35px;
        width: 150px;
        align-self: center;
    } */


    footer.bottom-details p,
    a {
        color: #fff;
        /* padding: 5px; */
        font-size: 0.6rem;
    }

    .bottom-details {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .horizontal {
        display: none;
    }


}