body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 140%;
  font-weight: 300;
  font-style: normal;
}

p {
  font-size: 1.1rem;
  margin: 1rem 8px;
}
h1 {
  font-weight: 100;
  font-size: 2.5rem;
  color:#666;
  margin: 1rem 8px;
  line-height: 3rem;;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: white;
  background: rgb(0,110,182);
  background: linear-gradient(90deg, #005083 0%, #1490e2 70%);
  padding: 1rem;
  margin: 5rem 8px 1rem 8px;
}
h2 span {font-size: 75%; font-weight: 300;}

h3 {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 2rem 8px -12px 8px;
  color: #005083;
}

a {color:#005083;}

li {
  margin-bottom: .6rem;
}
#WeekLinks {
  display: flex;
  margin: 1rem 8px;
}

#WeekLinks a {
  flex-grow: 1;
  background-color: #004876;
  color: #fff;
  padding: 10px;
  margin: 0 .5rem;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}
#WeekLinks a:hover {
  background-color: #0088d9;
}

.pop {
  background-color: #c9c8ec;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 8px;
}

.outreachdue {
  background-color: #eee;
  font-size: 1rem;
  padding: 0 1rem;
  margin: 1rem 8px;
  border: #3174b1 solid 1px;
  border-radius: 10px;
}
.outreachdue span {
  font-weight: 700;
}
.outreachdue a {
  color: black;
}


.problem, .risk, .good {
  padding: .5rem 1rem;
  margin: 1rem 8px;
  border-radius: 4px;
  border-left: solid 3px grey
}
.problem {
  background-color: #f8cac6;
  border-color: #f68076;
}
.risk {
  background-color: #fbeeb8;
  border-color: #fbde65;
}
.good {
  background-color: #c8ecd4;
  border-color: #68d18b;
}
.problem section, .risk section, .good section {
  font-style: italic; 
  background-color: rgba(255,255,255,0.2);
  padding: .5rem .3rem;
}

img {
  max-width: 99%; 
  margin: 8px;
  box-shadow: 0 0 10px #aaa;
}

#endClass, #registerDeadline, #dropDeadline {font-weight: 700;}