@media only screen and (min-width: 38rem) {
  button#hamburger {display: none;}
  nav ul, nav ul.show {display: flex;}

	nav ul li {
		flex: 1 1 100%;
	}

  header, main, nav, footer {
    max-width: 900px;
    margin: 0 auto;
  }

  .sidebyside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
  }


} /* end media query */