@media only screen and (min-width: 38rem) {

  /*Navagation goes here*/
  header {
    grid-template-columns: 50px auto auto;
  }

  nav {
    justify-self: end;
  }

  #menu-button {
    display: none;
  }

  nav ul,
  nav ul.open {
    /*remove defaults from small*/
    position: initial;
    width: auto;
    background-color: unset;
    /*new*/
    display: flex;
  }


  nav ul li a:hover {
    background-color: unset;
    color: #666;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #666;
  }

  div.hero a {
    top: 20%;
    left: 15%;
  }

  div.cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  section.events {
    grid-column: 1 / span 2;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer section:nth-child(3) {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-around;
  }

}

// end media query