@media only screen and (min-width: 38rem) {
  nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

  header, main, nav, footer {
    max-width: 900px;
    margin: 0 auto;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
  }
  main h2 {grid-column: 1 / span 2;}

} /* end media query */