body{
  font-family: 'Dosis', sans-serif;
font-weight: 300;
color: #333;
}
header {
  border-bottom: 1px solid #f5a434;
}
h1 {
  color:#f5a434;
}
h2{
  color:#015f72;
}
footer {
  text-align: center;
  color:#f5a434;
}