@media only screen and (min-width: 38rem) {
  
  nav {
    flex-direction: row-reverse;
  }
div.allcards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.card:first-child {
  grid-row: 1 / span 2;
}

#formStuff {
  display: flex;
  
}


} // end media query