body {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	margin: 0;
}
header, main {max-width: 600px; margin: 0 auto;}
header {
	font-size: 1.5rem;
	font-weight: 300;
	background-color: #ddd;
	padding: 1rem;
	text-align: center;
}
main {margin-top: 1rem;}
h1 {
	font-weight: 700;
	color: #235332;
	margin: 0;
}
h2 {font-size: 1.2rem;
	font-weight: 300;
	color: #444;
	margin: 10px 0 0 0;
}
p {
	padding: 1rem;
	margin: 0;
	font-size: 1.2rem;
    border: 1px solid #999;
    border-radius: 10px;
}
#links {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
label {color:#235332; font-size: .8rem; font-weight: 700;}
input[type=text] {
	width: 96%;
	color: #235332;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #666;
	background-color: #eee;
}
input[type=submit] {
	width: 300px;
	padding: .5rem 0;
	margin-top: 10px;
	background: linear-gradient(0deg, #235332 0%, #5ead77 100%);
	border: 1px solid black;
	color: white;
	border-radius: 10px;
}