* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Mali', cursive;
  font-weight: 200;
}

/************************** HEADER **************************/
header {
	background-color: #cedbcd;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	position: relative;
}

h1 {
	font-size: 2rem;
}


/************************** NAVIGATION **************************/
button#hamburger {
	background: none;
	border: none;
	display: block;
	padding-bottom: .6rem;
	font-size: 2rem;
	color: #fff;
	text-align: center;
	width: 50px;
	cursor: pointer;
}
button#hamburger::before {
	content: "\2630";
}
button#hamburger.show::before {
	content: "x";
}
nav ul {
	display: none;
}
nav ul.show {
	display: block;
}

nav {
	background-color: #154e13;
	padding: 0;
	margin: 0;
}
nav ul {
	list-style-type: none;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: .5rem;
	text-decoration: none;
}

nav a:hover {
	background-color: rgba(0,0,0,0.3);
}

.active {
	background-color: rgba(0,0,0,0.2);
}

/* dark mode */
#darkBtn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	width: 24px;
}


/*========================================================*/
main {
	padding: 1rem; 
}

main.dark {background-color: #222;}
main.dark h2 {color: white;}
main h2 {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
  border-bottom: dashed 1px rgba(0,0,0,0.5);
}
main section {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
	background-color: #eee;
	margin-bottom: .5rem;
}
main h3 {
  background-color: #cedbcd;
  text-align: center;
  padding: .5rem;
}
main p{
  margin: 1rem;
}
main ul {
  list-style-position: inside;
  margin: 1rem;
}


/*================= HERO =======================================*/
.hero {width: 100%; position: relative;}
.hero img {
	width: 100%;
	height: auto;
}
.hero div {
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 1rem;
	font-weight: 400;
	color: #6f1e23;
	background-color: rgba(255,255,255,0.6);
	border-radius: 6px;
	border-left: 3px solid #6f1e23;
}
/*========================================================*/
footer {
  padding: 1rem;
  text-align: center;
}